* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e7ecf0;
    font-family: "Poppins", sans-serif;
    display: flex;

    margin: 0;
    padding-bottom: 10px;
}

.container {
    display: block;
}

.header {
    width: 100vw; /* Chiếm toàn bộ chiều rộng của viewport */
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 5px calc(50vw - 500px); /* Giữ khoảng cách padding tương đối cố định */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

.header-left img {
    display: flex;
    width: 50%;
    margin-left: -200px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 200px;
}
.header-right img {
    display: flex;
    width: 30px;
    margin-left: 90px;
    border-radius: 50%;
}
.header-right label {
    text-align: center;
    margin-top: 8px;
}

.content {
    width: 97vw; /* Chiếm toàn bộ chiều rộng của viewport */
    background-color: #fff;
    margin-left: 20px;

    h2 {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        color: #555555;
    }
}

.content-subject {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 98%;
}

.table-subject {
    width: 100%;
    table {
        width: 100%;
        max-width: 177%;
        margin-bottom: 20px;
        height: 150px;
    }
    thead {
        background-color: #dddddd;
        color: #0c6fbe;
        height: 50px;
        font-weight: bold;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;
        border-color: inherit;
    }
    tbody {
        background-color: #fff;
        color: #3d3d3d;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;
        border-color: inherit;
        text-align: center;
    }
    td {
        padding: 0px;
        text-align: center;
        background-color: #ffffff;
        height: 1px;
    }
}
