* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7ecf0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0;
    padding-bottom: 10px;
}

.container {
    display: block;
}

.header {
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 5px calc(50vw - 500px);
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-left img {
    display: flex;
    width: 50%;
    margin-left: -200px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 200px;
}

.header-right img {
    display: flex;
    width: 30px;
    margin-left: 90px;
    border-radius: 50%;
}

.header-right label {
    text-align: center;
    margin-top: 8px;
}

.content {
    margin-top: -10px;
    line-height: 2em;
    border-style: ridge;
    background-color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    border-style: none;
    border-radius: 5px;
}

.content h2 {
    margin-top: 20px;
    margin-left: 15px;
    color: #383838;
    font-weight: bold;
    font-size: 23px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    line-height: 1.8em;
}

.actions input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-right: 10px;
}

.actions label {
    margin-right: 10px;
    color: #555555;
}

.actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #1da1f2;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    width: 90px;
}

.content-subject {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.table-subject table {
    width: 100%;
    table-layout: fixed;
}

.table-subject thead {
    background-color: #ddd;
    color: #0c6fbe;
    height: 50px;
    font-weight: bold;
}

.table-subject tbody {
    background-color: #fff;
    color: #3d3d3d;
}

.table-subject th,
.table-subject td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: top;
}

.content-note {
    display: flex;
    margin-left: 10px;
}

.content-note > div {
    margin-left: 10px;
}

.content-note button {
    padding: 2px 5px;
    border: none;
    background-color: #ddd;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    width: 60px;
}

.content-note label {
    margin-right: 10px;
    color: #667580;
    font-size: 15px;
}
.content-note{
    display: flex;
    margin-left: 10px;
}
.content-note1{
    margin-left: 10px;
    button{
        padding: 2px 5px;
        border: none;
        background-color: #ddd;
        color: white;
        cursor: pointer;
        margin-right: 5px;
        width: 60px;
    }

    label{
        margin-right: 10px;
        color: #667580;
        font-size: 15px;
    }
}

.content-note2{
    margin-left: 10px;
    button{
        padding: 2px 5px;
        border: none;
        background-color: #71CB35;
        color: white;
        cursor: pointer;
        margin-right: 5px;
        width: 60px;
    }

    label{
        margin-right: 10px;
        color: #667580;
        font-size: 15px;
    }
}

.content-note3{
    margin-left: 10px;
    button{
        padding: 2px 5px;
        border: none;
        background-color: #92D6FF;
        color: white;
        cursor: pointer;
        margin-right: 5px;
        width: 60px;
    }

    label{
        margin-right: 10px;
        color: #667580;
        font-size: 15px;
    }
}

.content-note4{
    margin-left: 10px;
    button{
        padding: 2px 5px;
        border: none;
        background-color: #FDFF9A;
        color: white;
        cursor: pointer;
        margin-right: 5px;
        width: 60px;
    }

    label{
        margin-right: 10px;
        color: #667580;
        font-size: 15px;
    }
}

.content-note5{
    margin-left: 10px;
    button{
        padding: 2px 5px;
        border: none;
        background-color: #8b0505;
        color: white;
        cursor: pointer;
        margin-right: 5px;
        width: 60px;
    }

    label{
        margin-right: 10px;
        color: #667580;
        font-size: 15px;
    }
}

.block {
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.block--theory {
    background-color: #e7ecf0;
    border: 1px solid #c9d0db;
}

.block--practice {
    background-color: #71cb35;
    border-color: #c9d0db;
}

.block--online {
    background-color: #92d6ff;
    border-color: #1da1f2;
}

.course-name {
    font-weight: bold;
}

td.block-sesstion {
    background-color: #FFFFCE;
    vertical-align: inherit;
}